@media screen and (max-width: 992px) {
    .hero_section_left_text h1{
        width: 100%;
    }
    .testimonial_card{
        flex-direction: column;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        gap: 0.5rem;
    }
}

@media screen and (min-width: 992px) {
    #cssmenu > ul > li:hover,
    #cssmenu ul li.active:hover,
    #cssmenu ul li.active,
    #cssmenu ul li.has-sub.active:hover {
          border-radius: 0.25rem;
    }
    #cssmenu > ul > li{
        margin-left: 0.5rem;
    }
}

@media screen and (max-width: 550px) {
    .hero_section_left_content .vector_img.vector_1 {
        height: 40px;
    }
    
    .hero_section_left_content .vector_img.vector_2 {
        height: 50px;
    }
    
    .hero_section_left_content .vector_img.vector_3 {
        height: 36px;
    }
    
    .hero_section_left_content .vector_img.vector_4 {
        height: 40px;
    }
    
    .hero_section_left_content .vector_img.vector_5 {
        height: 30px;
        right: 35%;
    }
    
    .hero_section_left_content .vector_img.vector_6 {
        width: 15px;
        height: 15px;
    }
    
    .hero_section_left_content .vector_img.vector_7 {
        width: 10px;
        height: 10px;
    }
    
    .hero_section_left_content .vector_img.vector_8 {
        width: 15px;
        height: 15px;
    }
}



@media screen and (max-width: 400px) {
    .hero_section_left_content .hero_image {
        transform: scale(1.2);
    }
    
    .hero_section_left_content .vector_img.vector_2 {
        height: 30px;
    }
    .hero_section_left_content .vector_img.vector_5 {
        height: 14px;
        right: 35%;
    }
}